MT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="Matran">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="So" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="Hang" type="xs:byte"/>
                        <xs:attribute name="Cot" type="xs:byte"/>
                        <xs:attribute name="GiaTri" type="xs:byte"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
