QLDH.dtd

<!ENTITY % infoDH "(MSKH, TENKH, DC)">
<!ENTITY % infoMH "(MMH, TENMH, SL, DONGIA)">
<!ELEMENT DOCUMENT (KHACHHANG)+>
<!ELEMENT KHACHHANG (%infoDH;,ORDERS+)>
<!ELEMENT MSKH (#PCDATA)>
<!ELEMENT TENKH (#PCDATA)>
<!ELEMENT DC (#PCDATA)>
<!ELEMENT ORDERS (%infoMH;)>
<!ELEMENT MMH (#PCDATA)>
<!ELEMENT TENMH (#PCDATA)>
<!ELEMENT SL (#PCDATA)>
<!ELEMENT DONGIA (#PCDATA)>

