QLS.dtd

<!ENTITY % infoTG "(MSTG, TENTG, DC, SDT*)">
<!ATTLIST TENTUAS TENTUAS_ID ID #REQUIRED>
<!ATTLIST TENTG TENTG_ID ID #REQUIRED>
<!ATTLIST SDT SDT_ID ID #REQUIRED>
<!ELEMENT QLS (LINHVUC)+>
<!ELEMENT LINHVUC (TEN,SACHXB*)>
<!ELEMENT SACHXB (TENTUAS,TG*)>
<!ELEMENT TENTUAS (#PCDATA)>
<!ELEMENT TG (%infoTG;)>
<!ELEMENT MSTG (#PCDATA)>
<!ELEMENT TENTG (#PCDATA)>
<!ELEMENT DC (#PCDATA)>
<!ELEMENT SDT (#PCDATA)>
