QLSV.dtd

<!ENTITY % info "(MSSV, NAME, CLASS)">
<!ENTITY % INFOMH "(MAMH, TENMH, SOTC, DIEMTHI)">
<!ELEMENT DOCUMENT (SINHVIEN)+>
<!ELEMENT SINHVIEN (%info;,MONHOC+)>
<!ELEMENT MSSV (#PCDATA)>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT CLASS (#PCDATA)>
<!ELEMENT MONHOC %INFOMH;>
<!ELEMENT MAMH (#PCDATA)>
<!ELEMENT TENMH (#PCDATA)>
<!ELEMENT SOTC (#PCDATA)>
<!ELEMENT DIEMTHI (#PCDATA)>
